$primary-color: #6200EA;
$primary-variant: #3700B3;
$secondary-color: #03DAC6;
$secondary-variant: #018786;
$background-color: #FFFFFF;
$surface-color: #F5F5F5;
$primary-text-color: #000000;
$secondary-text-color: #757575;
$link-color: #6200EA;
$accent-color: #FF4081;

.profile-custom {
    background-color: $background-color;
    padding: 0;
    border: 1px solid $surface-color;
  }

.profile-header-custom {
    background-color: $primary-color !important;
    color: $surface-color !important;
}

.buttonDelete-custom {
  background-color: $primary-text-color !important;
  color: $accent-color !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  
&:hover {
  background-color: $primary-variant !important;
  }
}

.buttonCancel-custom{
  background-color: $secondary-text-color !important;
  color: $background-color !important;
  border: none !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  
&:hover {
  background-color: $primary-variant !important;
  }
}
  